
html{
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url(./img/fondo.png);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.logo{
    width: 100px;
    margin-top: 30px;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-pregunta{
    margin-top: 30px;
    background-color: rgba(252, 252, 252, 0.384);
    width: 100%;
    height:fit-content;
    text-align: center;
    align-content: center;
}

.pregunta{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(5, 5, 5);
    padding: 30px 20px;
}

.respuesta{
    display:block;
    margin-bottom: 30px;
    height: 60px;
    width: 90%;
    border: none;
    position: relative;
    text-align: right;
    padding-right: 40px;
    padding-left: 65px;
    background-color: rgb(252, 252, 252);
    color: rgb(5, 5, 5);
    font-size: 20px;
    border-radius: 40px;
}

.contenedor-respuestas{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rbox{
    height: 60px;
    width: 60px;
    position: absolute;
    background-color: steelblue;
    left: 0;
    top: 0;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.rbox h2{
    display: block;
    text-align: center;
    font-size: 30px;
}

#pregunta1{
    display: none;
}

#pregunta2{
    display: none;
}

#pregunta3{
    display: none;
}

.correcta{
    background-color: rgb(252, 252, 252);
}

.contendor-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    flex-direction: column;
}

.texto-juego{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(252, 252, 252);
    text-align: justify;
    padding: 0px 30px;
    font-size: 30px;
    font-weight: bold;
}

.boton-volver{
    border: none;
    background-color: rgb(252, 252, 252);
    color: rgb(5, 5, 5);
    padding: 15px 50px;
    font-size: 20px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 100px;
}

.boton-volver:focus{
    background-color: rgb(197, 197, 197);
}

